<div class="container">
  <div class="row">
    <div class="mx-auto">

      <%= form_with model: @user, url: user_path(current_user.id) do |f| %>
        <h2>User info</h2>

        <% if @user.errors.any? %>
          <%= @user.errors.count %> error prohibited this obj from being saved:
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <h6>Name</h6>
        <%= f.text_field :name %>
        <h6>Image</h6>
        <%= f.file_field :profile_image %>
        <h6>introduction</h6>
        <%= f.text_area :introduction %>
        <%= f.submit 'Update User',class: "col-xs-12 btn btn-secondary" %>
      <% end %>

    </div>
  </div>
</div>