<div class="container px-5 px-sm-0 pt-3 pb-5">
  <div class= "row">

    <!--左側要素-->
    <div class= "col-md-3">
      <h>User info</h2>
      <hr>
      <h5>name</h5>
      <%= @user.name %>
      <hr>
      <h5>introduction</h5>
      <%= @user.introduction %>
      <a class="btn btn-secondary btn-lg btn-block" href="edit_user_path(@user.id)" role="button"><i class="fas fa-cog"></i></a>
      <%= link_to "", edit_user_path(@user.id), class: "btn btn-secondary btn-lg btn-block" %>

      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title %>
        <h5>Opinion</h5>
        <%= f.text_area :body %>
        <button type="button" class="btn btn-success">Create Book</button>
      <% end %>
    </div>

    <!--右側要素-->
    <div class= "col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class='table table-hover table-inverse'>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
        <%= link_to user_path(@user.id) do %>
        <tr>
        <% end %>
        <td><%= image_tag book.user.get_profile_image, size:"80x80" %></td>
        <td><%=link_to book.title, book_path(book.id)%></td>
        <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>